:root{
    --primary-bg-color: #35AFBF;
    --secondary-color: #32A3B2;
    --primary-color: #252626;
    --text-color: #707273;
    --white-color: #ffffff;
}


/* Header section */

.header {
    padding-top: 4rem;
    background-image: url('../img/Background.png');
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    object-fit: contain;
}
.navbar-links {
    display: flex;
    list-style: none;
    gap: 4.5rem;
    padding-left: 0;
    margin: 0;
}
.navbar-link {
    position: relative;
    color: #969999;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    transition: all ease 0.2s;
    cursor: pointer;
}

.navbar-link::after{
    content: '';
    position: absolute;
    width: 0;
    background-color: var(--primary-bg-color);
    height: 2px;
    bottom: -10%;
    left: 0;
    transition: all ease-in 0.3s;
}

/* Nav link hover effect */

.navbar-link:hover{
    font-weight: 500;
    color: var(--primary-bg-color);
   
}
.navbar-link:hover::after{
   width: 100%;
}

.responsive-btn{
    display: none;
}


/* Hero section */

.hero-section {
    background-image: url('../img/hero-background.png');
    background-position: right center;
    padding: 8rem 0;
}

.hero-container{
    display: flex;
    gap: 5rem;
}

.hero-text__box {
    flex: 1;
    margin: auto 0;
}
.hero-img__box {
    flex: 1;
}

.hero-title {
    color: var(--primary-color);
    font-family: Work Sans;
    font-size: 5.1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    margin-bottom: 2rem;
}
.hero-text {
    color: var(--text-color);
    font-size: 2.1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 3rem;
}

.underlined-text{
    color: var(--secondary-color);
}


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}
